@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
}
.content {
    background-color: #fff;
    border-radius: 15px;
    width: 960px;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.content::before {
    content: "";
    position: absolute;
    background-color: orangered /*#58af9b*/;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    left: 0%; 
}
.title {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}
.title-primary {
    color: white;
}
.title-second {
    color: orangered;
    text-transform: capitalize;
}

.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}
.description-primary {
    color: white;
}
.description-second {
    color: #7f8c8d;
}
.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    font-size: 10px;
    padding: 10px 50px;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}
.btn-primary {
    background-color: transparent;
    border: 1px solid #fff;
    transition: background-color 0.5s;
}
.btn-primary:hover {
    background-color: white;
    color: orangered;
}
.btn-second {
    background-color: orangered;
    border: 1px solid orangered;
    transition: background-color 0.5s;
}
.btn-second:hover {
    background-color: #fff;
    border: 1px solid orangered;
    color: orangered;
}
.content-1 {
    display: flex;
}
.content-1 .column-2 {
    z-index: 11;
}
.social-list {
    display: flex;
    list-style: none;


}
.social-link:not(:first-child) {
    margin-left: 10px;
}
.social-link .social-item {
    transition: background-color 0.5s;
}
.social-link:hover .social-item{
    background-color: orangered;
    color: #fff;
    border-color: orangered;
}
.social-item {
    border: 1px solid;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #95a5a6;
}


.column-1 {
    text-align: center;
    width: 40%;
    z-index: 10;
}
.column-2 {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form {
    display: flex;
    flex-direction: column;
    width: 55%;
}
.form input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
 
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #ecf0f1 inset !important;
    -webkit-text-fill-color: #000 !important;
}
.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}
.icon-modify {
    color:#7f8c8d;
    padding: 0 5px;
}
/*second content*/
.content-2 {
    position: absolute;
    display: flex;
}
.content-2 .column-1{
    order: 2;
    z-index: -1;
}
.content-2 .column-2 {
    order: 1;
    z-index: -1;
}
.password {
    text-align: center;
    color: #34495e;
    margin: 15px 0;
    font-size: 14px;
}
.password ::first-letter{
    text-transform: uppercase;
}

.sign-in-js .content-1 .column-1,
.sign-in-js .content-1 .column-2 {
    z-index: -1;
}
.sign-in-js .content-2 .column-1,
.sign-in-js .content-2 .column-2 {
    z-index: 11;
}
.sign-in-js .content::before {
    left: 60%;
    border-top-left-radius: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 0px;
    animation: slidein 1.3s; /*MODIFIQUEI DE 3s PARA 1.3s*/

    
}

.sign-up-js .content-2 .column-1,
.sign-up-js .content-2 .column-2 {
    z-index: -1;
}
.sign-up-js .content-1 .column-1,
.sign-up-js .content-1 .column-2 {
    z-index: 11;
}
.sign-up-js .content::before {
    left: 0%;
    animation: slideout 1.3s;
    
}
/*animação*/ 
@keyframes slidein {
    fron {
        left: 0%;
        width: 40%;
    }
    25% {
        left: 5%;
        width: 50%;
    }
    50% {
        left: 25%;
        width: 60%;
    }
    75%{
        left: 45%;
        width: 50%;
    }
    to {
        left: 60%;
        width: 40%;
    }
}
@keyframes slideout {
    fron {
        left: 60%;
        width: 40%;
    }
    25% {
        left: 45%;
        width: 50%;
    }
    50% {
        left: 25%;
        width: 60%;
    }
    75%{
        left: 5%;
        width: 50%;
    }
    to {
        left: 0%;
        width: 40%;
    }
}