@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aliceblue;
}
.content {
    border-radius: 15px;
    background-color: #fff;
    width: 960px;
    height: 70%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.content::before {
    content: "";
    position: absolute;
    background-color: orangered /*#58af9b*/;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.title {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}
.title-primary {
    color: white;
}
.title-second {
    color: orangered;
    text-transform: capitalize;
}

.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}
.description-primary {
    color: white;
}
.description-second {
    color: #7f8c8d;
}
.btn {
    border-radius: 30px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    width: 160px;
    align-self: center;
    border-width: 0px;
    margin-top: 1rem;
}
.btn-primary {
    background-color: transparent;
    font-size: 10px;
    padding: 10px 50px;
    border: 1px solid #fff;
    font-weight: bold;
}
.btn-primary:hover {
    background-color: white;
    color: orangered;
}
.btn-second {
    background-color: orangered;
    font-size: 10px;
    padding: 10px 50px;
    border: 1px solid orangered;
    font-weight: bold;
}
.btn-second:hover {
    background-color: #fff;
    border: 1px solid orangered;
    color: orangered;
}
.content-1 {
    display: flex;
}
.social-list {
    display: flex;
    list-style: none;
    margin: 1rem 0;

}
.social-link:not(:first-child) {
    margin-left: 10px;
}
.social-link:hover .social-item{
    background-color: orangered;
    color: #fff;
    border-color: orangered;
}
.social-item {
    border: 1px solid;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    padding-top: 5px;
    color: #95a5a6;
}


.column-1 {
    text-align: center;
    flex:1 0 auto;
    z-index: 10;
}
.column-2 {
    flex: 2 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form {
    display: flex;
    flex-direction: column;
    width: 55%;
}
.form input {
    height: 45px;
    border: none;
    background-color: #ecf0f1;
    width: 100%;
}
.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}
.icon-modify {
    color:#7f8c8d;
    padding: 0 5px;
}
.content-2 {
    position: absolute;
    display: none;
    margin: 8px;
}